* {
    box-sizing: border-box;
}

html
{
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

h1, h2
{
    font-family: 'Times New Roman', Times, Palatino, Bookman, 'New Century Schoolbook', serif;
    text-shadow: 2px 2px 5px rgb(148, 2, 161);
}
/*nav bar*/
.nav
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(73, 0, 80);
}

.logo
{
    color: #ccc;
    letter-spacing: 5px;
}

.contact a
{
    color: #ccc;
    letter-spacing: 2px;
}

.nav-links
{
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
    width: 50vw;
    list-style-type: none;
}

.nav-links a
{
    color: #ccc;
    text-decoration: none;
    letter-spacing: 2px;
}

.burger
{
    cursor: pointer;
}

.burger div
{
    width: 25px;
    height: 3px;
    background-color: #ccc;
    margin: 5px;
    display: none;
}
/*nav bar ends*/
#profile
{   margin: 2vw;
    padding: 1vw;
    border: 1px solid #ccc;
    width: 47vw;
}

#icon
{
    width: 42px; height: 42px;
    text-shadow: 2px 2px 5px;
    transition: transform 1s;
}

#icon:hover
{
    transform: rotateY(360deg);
}

/*#ulnav
{
    list-style-type: none;
    margin: 0; padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

#linav
{
    float: left;
}
  
#nav
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
#nav:hover
{
    background-color: #111;
}

#nav:active
{
    background-color: #990A0A;
    border-style: inset;
}*/
/*---------------*/

#background
{
    background-image: url(Everdream.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/*media queries*/

@media screen and (max-width: 1200px)
{
    .nav-links
    {
        width: 55vw;
    }
}

@media screen and (max-width: 992px)
{
    .nav-links
    {
        width: 60vw;
    }
}

@media screen and (max-width: 768px)
{
    body
    {
        overflow-x: hidden;
    }

    .nav-links
    {
        position: absolute;
        z-index: 5;
        right: 0px;
        top: 8vh;
        height: 50vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(73, 0, 80);
        transform: translateX(100%);
        transition: transform 0.5s ease-out;
    }

    .nav-links li 
    {
        opacity: 0;
    }

    .burger div
    {
        display: block;
        transition: transform 0.5s ease-out;
    }
}

.nav-active
{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px)
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}